@import "tailwindcss";



@layer components {
    body {
        background-color: #050505;
        color: #fff;
        font-family: 'DM Sans', sans-serif;
    }

    .mesh-bg {
        background-color: #050505;
        background-image:
            radial-gradient(at 0% 0%, hsla(28, 100%, 74%, 0.15) 0px, transparent 50%),
            radial-gradient(at 100% 0%, hsla(189, 100%, 56%, 0.1) 0px, transparent 50%),
            radial-gradient(at 50% 100%, hsla(355, 100%, 93%, 0.05) 0px, transparent 50%);
        background-attachment: fixed;
    }

    .text-gradient {
        background: linear-gradient(to right, #f97316, #ec4899, #8b5cf6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% auto;
        animation: shine 8s linear infinite;
    }

    @keyframes shine {
        to {
            background-position: 200% center;
        }
    }

    .animate-fade-in {
        animation: fadeIn 1.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(40px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Sophisticated reveal on scroll for gallery */
    .reveal {
        opacity: 0;
        transform: translateY(30px);
        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    }

    .reveal.active {
        opacity: 1;
        transform: translateY(0);
    }
}