@import "tailwindcss";



@layer components {
    body {
        background-color: #020617;
    }

    .glow-text {
        text-shadow: 0 0 30px rgba(99, 102, 241, 0.4);
    }

    .plan-card {
        transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    }

    .plan-card:hover {
        transform: translateY(-8px) scale(1.01);
        box-shadow: 0 40px 80px -20px rgba(0, 0, 0, 0.5);
    }

    /* Custom Scrollbar for premium feel */
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        background: #020617;
    }

    ::-webkit-scrollbar-thumb {
        background: #1e1b4b;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #312e81;
    }
}