@import "tailwindcss";



@layer components {
    body {
        background-color: #fcfcfd;
        font-family: 'Spline Sans', sans-serif;
    }

    .bar-animate {
        animation: growUp 1.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
        transform-origin: bottom;
        transform: scaleY(0);
    }

    @keyframes growUp {
        to {
            transform: scaleY(1);
        }
    }

    /* Smooth scroll interaction */
    .scroll-reveal {
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    }

    .scroll-reveal.visible {
        opacity: 1;
        transform: translateY(0);
    }
}